@font-face {
    font-family: 'Allison';
    src: url('./fonts/Allison.ttf');
}

@font-face {
    font-family: 'Garamond';
    src: url('./fonts/Garamond.ttf');
}

@font-face {
    font-family: 'Roboto';
    src: url('./fonts/Roboto.ttf');
}

body {
    margin: 0;
    padding: 0;

    cursor: url('./img/pizza-cursor.png'), auto;
}

h1 {
    font-family: 'Allison';
    margin: 0;
    padding: 0;
}

button {
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 1em;

    width: 10rem;
    cursor: pointer;

    color: white;
    background-color: black;
    border: solid 3px white;
    padding: 1rem 2rem 1rem 2rem;
    margin-top: 1em;

    transition: background-color 300ms, color 300ms;

}

button:hover {
    background-color: white;
    color: black;
}

#about {
    display: flex;
    flex-direction: row;
}

.description {
    font-family: 'Garamond';
}

.left-part {
    color: white;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;

    padding-right: 2rem;
    flex-grow: 1;
    height: 100vh;

    box-shadow: 20px 0 5px 0 rgba(0, 0, 0, 0.8);
    z-index: 1;
}

.right-part img{
    height: 100vh;
    width: 70vh;
}

.left-part p {
    width: 50%;
}

@media only screen and (max-width: 1000px) {
    .right-part img {
        display: none;
    }

    .left-part {
        padding: 1rem;
    }
}


/*Menu*/
#menu {
    list-style: none;
    padding: 0;

    display: flex;

    position: absolute;

    margin-top: 70vh;
    left: 10%;
}

#menu li {
    padding: 2em;
    cursor: pointer;
    
    font-family: 'Roboto';
    color: white;
}

#menu li:hover {
    opacity: 80%;
}

.underline {
    text-decoration: underline;
}

/*Product*/
.products {
    display: flex;
}

.product {
    text-align: center;
    
    width: 10rem;

    border: solid 1px rgba(255, 255, 255, 0.2);
    background-color: rgba(255, 255, 255, 0.1);
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.product img {
    margin-top: 0.5rem;
    background-color: rgba(128, 128, 128, 0.2);
}

.product p {
    font-family: 'Garamond';
}

